volumes:
  gluetun-data:
    driver: local

networks:
  proxy:
    external: true

services:
  # qBittorrent - Download Client
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
      WEBUI_PORT: "8085"
    # ports:
    #   - 8085:8085
    volumes:
      - ${WORKDIR}/qbittorrent/config:/config
      - "${MEDIA_ARRS_FOLDER}/downloads/torrents:/downloads"
    network_mode: "service:gluetun"
    depends_on:
      - gluetun
  
    # qBittorrent - Download Client
  qbittorrent-no-vpn:
    image: lscr.io/linuxserver/qbittorrent
    container_name: qbittorrent-no-vpn
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
      WEBUI_PORT: "8085"
    ports:
      - 8086:8085
    volumes:
      - ${WORKDIR}/qbittorrent-no-vpn/config:/config
      - "${MEDIA_ARRS_FOLDER}/downloads/torrents:/downloads"
    networks:
      - proxy

  # qBitmanage - qBittorrent manager - Used to run automated tasks for qBittorrent

  ###--- SABnzbd - Download client - Used to download NZB from Usenet groups ---###
  ### This container has been disabled since you need a premium Usenet provider subscription to download files. ###
  ### Enable this container if you found a free provider or want to pay for usenet ###
  # sabnzbd:
  #   image: lscr.io/linuxserver/sabnzbd:latest
  #   container_name: sabnzbd
  #   restart: unless-stopped
  #   environment:
  #     PUID: ${PUID}
  #     PGID: ${PGID}
  #     TZ: Etc/UTC
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - ${WORKDIR}/sabnzbd/config:/config
  #     - ${MEDIA_ARRS_FOLDER}/download/usenet/:/data/usenet:rw
  #   ports:
  #     - 8085:8080
  #     - 9091:9090
  #   logging:
  #     driver: json-file
  #   network_mode: "service:gluetun"
  #   depends_on:
  #     - gluetun

  # Prowlarr - Indexer manager for all your media content
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/prowlarr/config:/config
    # ports:
    #   - "8113:9696"
    network_mode: "service:gluetun"
    depends_on:
      - gluetun

  ###--- Radarr - Library Manager for Movie content management ---###
  ### Do not use this container to download 4K Movie content. Enable container below to have seperate instance just for 4K Movie content ###
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/radarr/config:/config
      - "${MEDIA_ARRS_FOLDER}/library/movies:/movies"
      - "${MEDIA_ARRS_FOLDER}/downloads/torrents:/downloads"
    # ports:
    #   - 8114:7878
    network_mode: "service:gluetun"
    depends_on:
      - gluetun

  ###--- Radarr 4K - Library Manager for Movie 4K content management ---###
  ### Enable this container to get seperate instance for 4K Movie content ###

  ###--- Sonarr - Library Manager for TV Show / Series / Anime content management ---###
  ### Do not use this container to download 4K TV content. Enable container below to have seperate instance just for 4K TV content ###
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/sonarr/config:/config
      - "${MEDIA_ARRS_FOLDER}/library/tv:/tv"
      - "${MEDIA_ARRS_FOLDER}/downloads/torrents:/downloads"
    # ports:
    #   - 8115:8989
    network_mode: "service:gluetun"
    depends_on:
      - gluetun

  ###--- Sonarr 4K - Library Manager for TV 4K content management ---###
  ### Enable this container to get seperate instance for 4K TV content ###

  # Bazarr - Library Manager for Subtitle management
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/bazarr/config:/config
      - "${MEDIA_ARRS_FOLDER}/library/movies:/movies"
      - "${MEDIA_ARRS_FOLDER}/library/tv:/tv"
    # ports:
    #   - 8116:6767
    network_mode: "service:gluetun"
    depends_on:
      - gluetun

  # Lidarr - Library Manager for Music content management
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/lidarr/config:/config
      - "${MEDIA_ARRS_FOLDER}/library/music:/music"
      - "${MEDIA_ARRS_FOLDER}/downloads/torrents:/downloads"
    # ports:
    #   - 8117:8686
    network_mode: "service:gluetun"
    depends_on:
      - gluetun

  # Readarr - Library Manager for Books / Epubs content management
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/readarr/config:/config
      - "${MEDIA_ARRS_FOLDER}/library/books:/books"
      - "${MEDIA_ARRS_FOLDER}/downloads/torrents:/downloads"
    # ports:
    #   - 8118:8787
    network_mode: "service:gluetun"
    depends_on:
      - gluetun

  # Unpackerr - Extracts downloads for Radarr, Sonarr, Lidarr, and Readarr - Deletes extracted files after import.

  # Gluetun - VPN Client - Used to connect to VPN services
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    hostname: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 6881:6881
      - 6881:6881/udp
      # Ports to apps:
      - 8096:8096    # Jellyfin
      - 5055:5055    # Jellyseerr
      - 8085:8085    # qBittorrent
      - 9696:9696    # Prowlarr
      - 7878:7878    # Radarr
      - 8989:8989    # Sonarr
      - 6767:6767    # Bazarr
      - 8686:8686    # Lidarr
      - 8787:8787    # Readarr
      # Note: This is uncommented as Proton VPN uses its own DNS servers, so it is not possible to resolve to mydomain.com INSIDE the containers that use gluetun as network mode
    volumes:
      - gluetun-data:/gluetun
    environment:
      # VPN Configuration (see https://github.com/qdm12/gluetun-wiki for details)
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - SERVER_COUNTRIES=Switzerland
      # - STREAM_ONLY=on
      - TZ=Europe/Madrid
      - UPDATER_PERIOD=24h
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"

      # qBittorrent
      - traefik.http.routers.qbittorrent.entrypoints=web
      - traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.${DOMAIN}`)
      - traefik.http.routers.qbittorrent-websecure.entrypoints=websecure
      - traefik.http.routers.qbittorrent-websecure.rule=Host(`qbittorrent.${DOMAIN}`)
      - traefik.http.routers.qbittorrent-websecure.tls=true
      - traefik.http.routers.qbittorrent-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.qbittorrent-websecure.service=qbittorrent
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8085

      # Prowlarr
      - traefik.http.routers.prowlarr.entrypoints=web
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN}`)
      - traefik.http.routers.prowlarr-websecure.entrypoints=websecure
      - traefik.http.routers.prowlarr-websecure.rule=Host(`prowlarr.${DOMAIN}`)
      - traefik.http.routers.prowlarr-websecure.tls=true
      - traefik.http.routers.prowlarr-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.prowlarr-websecure.service=prowlarr
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696

      # Radarr
      - traefik.http.routers.radarr.entrypoints=web
      - traefik.http.routers.radarr.rule=Host(`radarr.${DOMAIN}`)
      - traefik.http.routers.radarr-websecure.entrypoints=websecure
      - traefik.http.routers.radarr-websecure.rule=Host(`radarr.${DOMAIN}`)
      - traefik.http.routers.radarr-websecure.tls=true
      - traefik.http.routers.radarr-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.radarr-websecure.service=radarr
      - traefik.http.services.radarr.loadbalancer.server.port=7878

      # Sonarr
      - traefik.http.routers.sonarr.entrypoints=web
      - traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.routers.sonarr-websecure.entrypoints=websecure
      - traefik.http.routers.sonarr-websecure.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.routers.sonarr-websecure.tls=true
      - traefik.http.routers.sonarr-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.sonarr-websecure.service=sonarr
      - traefik.http.services.sonarr.loadbalancer.server.port=8989

      # Bazarr
      - traefik.http.routers.bazarr.entrypoints=web
      - traefik.http.routers.bazarr.rule=Host(`bazarr.${DOMAIN}`)
      - traefik.http.routers.bazarr-websecure.entrypoints=websecure
      - traefik.http.routers.bazarr-websecure.rule=Host(`bazarr.${DOMAIN}`)
      - traefik.http.routers.bazarr-websecure.tls=true
      - traefik.http.routers.bazarr-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.bazarr-websecure.service=bazarr
      - traefik.http.services.bazarr.loadbalancer.server.port=6767

      # Lidarr
      - traefik.http.routers.lidarr.entrypoints=web
      - traefik.http.routers.lidarr.rule=Host(`lidarr.${DOMAIN}`)
      - traefik.http.routers.lidarr-websecure.entrypoints=websecure
      - traefik.http.routers.lidarr-websecure.rule=Host(`lidarr.${DOMAIN}`)
      - traefik.http.routers.lidarr-websecure.tls=true
      - traefik.http.routers.lidarr-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.lidarr-websecure.service=lidarr
      - traefik.http.services.lidarr.loadbalancer.server.port=8686

      # Readarr
      - traefik.http.routers.readarr.entrypoints=web
      - traefik.http.routers.readarr.rule=Host(`readarr.${DOMAIN}`)
      - traefik.http.routers.readarr-websecure.entrypoints=websecure
      - traefik.http.routers.readarr-websecure.rule=Host(`readarr.${DOMAIN}`)
      - traefik.http.routers.readarr-websecure.tls=true
      - traefik.http.routers.readarr-websecure.tls.certresolver=cloudflare
      - traefik.http.routers.readarr-websecure.service=readarr
      - traefik.http.services.readarr.loadbalancer.server.port=8787
