---
networks:
  proxy:
    external: true

services:
  calibre-web:
    image: lscr.io/linuxserver/calibre-web:0.6.25
    container_name: calibre-web
    environment:
      # PUID: "${PUID}"
      # PGID: "${PGID}"
      TZ: Etc/UTC
      DOCKER_MODS: linuxserver/mods:universal-calibre #optional
      OAUTHLIB_RELAX_TOKEN_SCOPE: 1 #optional
    volumes:
      - ${WORKDIR}/calibre-web/data:/config
      - ${NAS_STORAGE_LOCATION}/library/books:/books
    ports:
      - 8083:8083
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.calibre.entrypoints=http
      - traefik.http.routers.calibre.rule=Host(`calibre.${DOMAIN}`)
      - traefik.http.routers.calibre-secure.entrypoints=https
      - traefik.http.routers.calibre-secure.rule=Host(`calibre.${DOMAIN}`)
      - traefik.http.routers.calibre-secure.tls=true
      - traefik.http.routers.calibre-secure.tls.certresolver=cloudflare
      - traefik.http.services.calibre.loadbalancer.server.port=8083
    restart: unless-stopped
