networks:
  proxy:
    external: true
  nextcloud:

volumes:
  nextcloud:

services:
  nextcloud-postgres:
    # Note: Check the recommend version here: https://docs.nextcloud.com/server/latest/admin_manual/installation/system_requirements.html#server
    image: postgres:17.5-alpine
    container_name: nextcloud-postgres
    networks:
      - nextcloud
    volumes:
      - ${WORKDIR}/nextcloud-pg:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: nextcloud_db
      POSTGRES_USER: nextcloud_user
      POSTGRES_PASSWORD: '${NEXTCLOUD_DB_PASSWORD}'
    restart: unless-stopped

  nextcloud-redis:
    image: redis:8.0.3-alpine
    container_name: nextcloud-redis
    networks:
      - nextcloud
    restart: unless-stopped

  nextcloud:
    image: nextcloud:30.0.12
    container_name: nextcloud
    environment:
      POSTGRES_PASSWORD: '${NEXTCLOUD_DB_PASSWORD}'
      POSTGRES_DB: nextcloud_db
      POSTGRES_USER: nextcloud_user
      POSTGRES_HOST: nextcloud-postgres # This is the name of the service in the docker-compose file
      NEXTCLOUD_ADMIN_USER: '${NEXTCLOUD_ADMIN_USER}'
      NEXTCLOUD_ADMIN_PASSWORD: '${NEXTCLOUD_ADMIN_PASSWORD}'
      NEXTCLOUD_TRUSTED_DOMAINS: '${DOMAIN}'
      TRUSTED_PROXIES: '192.168.0.0/16 172.16.0.0/12'
      # OVERWRITEPROTOCOL: 'https'
    volumes:
      - nextcloud:/var/www/html
    # ports:
    #   - 8082:80
    labels:
      # Traefik labels
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.nextcloud.entrypoints=http
      - traefik.http.routers.nextcloud.rule=Host(`nextcloud.${DOMAIN}`)
      - traefik.http.middlewares.nextcloud-https-redirect.redirectscheme.scheme=https
      - traefik.http.routers.nextcloud.middlewares=nextcloud-https-redirect
      - traefik.http.routers.nextcloud-secure.entrypoints=https
      - traefik.http.routers.nextcloud-secure.rule=Host(`nextcloud.${DOMAIN}`)
      - traefik.http.routers.nextcloud-secure.tls=true
      - traefik.http.routers.nextcloud-secure.tls.certresolver=cloudflare
      - traefik.http.routers.nextcloud-secure.service=nextcloud
      - traefik.http.services.nextcloud.loadbalancer.server.port=80
    networks:
      - proxy
      - nextcloud
    restart: unless-stopped
    depends_on:
      - nextcloud-postgres
      - nextcloud-redis
