volumes:
  gluetun-4k-data:
    driver: local

networks:
  proxy:
    external: true

services:
  # qBittorrent - Download Client
  qbittorrent-4k:
    image: linuxserver/qbittorrent:latest # TODO: Renovate bot does not select the correct version
    container_name: qbittorrent-4k
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/Zurich"
      WEBUI_PORT: "8085"
    # ports:
    #   - 8085:8085
    volumes:
      - ${WORKDIR}/qbittorrent/config:/config
      - "${NAS_STORAGE_LOCATION}/downloads/torrents:/downloads"
    network_mode: "service:gluetun-4k"
    security_opt:
      - no-new-privileges:true
    depends_on:
      gluetun-4k:
        condition: service_healthy
        restart: true
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true

  ###--- SABnzbd - Download client - Used to download NZB from Usenet groups ---###
  ### This container has been disabled since you need a premium Usenet provider subscription to download files. ###
  ### Enable this container if you found a free provider or want to pay for usenet ###
  # sabnzbd:
  #   image: lscr.io/linuxserver/sabnzbd:latest # TODO: Pin the version
  #   container_name: sabnzbd
  #   restart: unless-stopped
  #   environment:
  #     PUID: ${PUID}
  #     PGID: ${PGID}
  #     TZ: Etc/Zurich
  #   volumes:
  #     - /etc/localtime:/etc/localtime:ro
  #     - ${WORKDIR}/sabnzbd/config:/config
  #     - ${NAS_STORAGE_LOCATION}/download/usenet/:/data/usenet:rw
  #   ports:
  #     - 8085:8080
  #     - 9091:9090
  #   logging:
  #     driver: json-file
  #   network_mode: "service:gluetun-4k"
  #   depends_on:
  #     gluetun-4k:
  #       condition: service_healthy
  #     restart: true

  # Jellyseerr Image - Request management and media discovery tool
  jellyseerr-jellyfin-4k:
    image: fallenbagel/jellyseerr:2.7.3
    container_name: jellyseerr-jellyfin-4k
    environment:
      PGID: "${PGID}"
      PUID: "${PUID}"
      TZ: "Etc/UTC"
    volumes:
      - ${WORKDIR}/jellyseerr/config:/app/config
    # ports:
    #   - 8111:5055
    networks:
      - proxy
    labels:
      # Traefik labels
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.jellyseerr-jellyfin-4k.entrypoints=http
      - traefik.http.routers.jellyseerr-jellyfin-4k.rule=Host(`jellyseerr-jellyfin-4k.${DOMAIN}`)
      - traefik.http.routers.jellyseerr-jellyfin-4k-secure.entrypoints=https
      - traefik.http.routers.jellyseerr-jellyfin-4k-secure.rule=Host(`jellyseerr-jellyfin-4k.${DOMAIN}`)
      - traefik.http.routers.jellyseerr-jellyfin-4k-secure.tls=true
      - traefik.http.routers.jellyseerr-jellyfin-4k-secure.tls.certresolver=cloudflare
      - traefik.http.services.jellyseerr-jellyfin-4k.loadbalancer.server.port=5055
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped

  # Prowlarr - Indexer manager for all your media content
  prowlarr-4k:
    image: linuxserver/prowlarr:2.1.5
    container_name: prowlarr-4k
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/Zurich"
    volumes:
      - ${WORKDIR}/prowlarr/config:/config
    # ports:
    #   - "8113:9696"
    network_mode: "service:gluetun-4k"
    security_opt:
      - no-new-privileges:true
    depends_on:
      gluetun-4k:
        condition: service_healthy
        restart: true
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true

  ###--- Radarr - Library Manager for Movie content management ---###
  ### Do not use this container to download 4K Movie content. Enable container below to have separate instance just for 4K Movie content ###
  radarr-4k:
    image: linuxserver/radarr:5.28.0
    container_name: radarr-4k
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/Zurich"
    volumes:
      - ${WORKDIR}/radarr/config:/config
      - "${NAS_STORAGE_LOCATION}/library/movies:/movies"
      - "${NAS_STORAGE_LOCATION}/downloads/torrents:/downloads"
    # ports:
    #   - 8114:7878
    network_mode: "service:gluetun-4k"
    security_opt:
      - no-new-privileges:true
    depends_on:
      gluetun-4k:
        condition: service_healthy
        restart: true
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true

  ###--- Sonarr - Library Manager for TV Show / Series / Anime content management ---###
  ### Do not use this container to download 4K TV content. Enable container below to have separate instance just for 4K TV content ###
  sonarr-4k:
    image: linuxserver/sonarr:4.0.15
    container_name: sonarr-4k
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/Zurich"
    volumes:
      - ${WORKDIR}/sonarr/config:/config
      - "${NAS_STORAGE_LOCATION}/library/tv:/tv"
      - "${NAS_STORAGE_LOCATION}/downloads/torrents:/downloads"
    # ports:
    #   - 8115:8989
    network_mode: "service:gluetun-4k"
    security_opt:
      - no-new-privileges:true
    depends_on:
      gluetun-4k:
        condition: service_healthy
        restart: true
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true

  ###--- Sonarr 4K - Library Manager for TV 4K content management ---###
  ### Enable this container to get separate instance for 4K TV content ###

  # Bazarr - Library Manager for Subtitle management
  bazarr-4k:
    image: linuxserver/bazarr:1.5.3
    container_name: bazarr-4k
    restart: unless-stopped
    environment:
      PUID: "${PUID}"
      PGID: "${PGID}"
      UMASK: "002"
      TZ: "Etc/Zurich"
    volumes:
      - ${WORKDIR}/bazarr/config:/config
      - "${NAS_STORAGE_LOCATION}/library/movies:/movies"
      - "${NAS_STORAGE_LOCATION}/library/tv:/tv"
    # ports:
    #   - 8116:6767
    network_mode: "service:gluetun-4k"
    security_opt:
      - no-new-privileges:true
    depends_on:
      gluetun-4k:
        condition: service_healthy
        restart: true
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true
    
  # FlareSolverr - Proxy for bypassing Cloudflare protection
  flaresolverr-4k:
    image: flaresolverr/flaresolverr:v3.4.2
    container_name: flaresolverr-4k
    restart: unless-stopped
    environment:
      TZ: "Etc/Zurich"
    volumes:
      - ${WORKDIR}/flaresolverr/config:/config
    # ports:
    #   - 8119:8191
    network_mode: "service:gluetun-4k"
    security_opt:
      - no-new-privileges:true
    depends_on:
      gluetun-4k:
        condition: service_healthy
        restart: true
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true

  # Gluetun - VPN Client - Used to connect to VPN services
  gluetun-4k:
    image: qmcgaw/gluetun:v3.40
    container_name: gluetun-4k
    hostname: gluetun-4k
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 6881:6881
      - 6881:6881/udp
      # Ports to apps:
      - 5055:5055    # Jellyseerr
      - 8085:8085    # qBittorrent
      - 9696:9696    # Prowlarr
      - 8191:8191    # FlareSolverr - used by Prowlarr to bypass Cloudflare
      - 7878:7878    # Radarr
      - 8989:8989    # Sonarr
      - 6767:6767    # Bazarr
      # Note: This is uncommented as Proton VPN uses its own DNS servers, so it is not possible to resolve to mydomain.com INSIDE the containers that use gluetun as network mode
    volumes:
      - gluetun-4k-data:/gluetun
    environment:
      # VPN Configuration (see https://github.com/qdm12/gluetun-wiki for details)
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - SERVER_COUNTRIES=Switzerland
      - TZ=Europe/Madrid
      - UPDATER_PERIOD=24h
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 20s
      timeout: 10s
      retries: 5
    networks:
      - proxy
    labels:
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true

      # Traefik labels
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"

      # qBittorrent
      - traefik.http.routers.qbittorrent.entrypoints=http
      - traefik.http.routers.qbittorrent.rule=Host(`qbittorrent.${DOMAIN}`)
      - traefik.http.routers.qbittorrent-secure.entrypoints=https
      - traefik.http.routers.qbittorrent-secure.rule=Host(`qbittorrent.${DOMAIN}`)
      - traefik.http.routers.qbittorrent-secure.tls=true
      - traefik.http.routers.qbittorrent-secure.tls.certresolver=cloudflare
      - traefik.http.routers.qbittorrent-secure.service=qbittorrent
      - traefik.http.services.qbittorrent.loadbalancer.server.port=8085

      # Prowlarr
      - traefik.http.routers.prowlarr.entrypoints=http
      - traefik.http.routers.prowlarr.rule=Host(`prowlarr.${DOMAIN}`)
      - traefik.http.routers.prowlarr-secure.entrypoints=https
      - traefik.http.routers.prowlarr-secure.rule=Host(`prowlarr.${DOMAIN}`)
      - traefik.http.routers.prowlarr-secure.tls=true
      - traefik.http.routers.prowlarr-secure.tls.certresolver=cloudflare
      - traefik.http.routers.prowlarr-secure.service=prowlarr
      - traefik.http.services.prowlarr.loadbalancer.server.port=9696

      # Radarr
      - traefik.http.routers.radarr.entrypoints=http
      - traefik.http.routers.radarr.rule=Host(`radarr.${DOMAIN}`)
      - traefik.http.routers.radarr-secure.entrypoints=https
      - traefik.http.routers.radarr-secure.rule=Host(`radarr.${DOMAIN}`)
      - traefik.http.routers.radarr-secure.tls=true
      - traefik.http.routers.radarr-secure.tls.certresolver=cloudflare
      - traefik.http.routers.radarr-secure.service=radarr
      - traefik.http.services.radarr.loadbalancer.server.port=7878

      # Sonarr
      - traefik.http.routers.sonarr.entrypoints=http
      - traefik.http.routers.sonarr.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.routers.sonarr-secure.entrypoints=https
      - traefik.http.routers.sonarr-secure.rule=Host(`sonarr.${DOMAIN}`)
      - traefik.http.routers.sonarr-secure.tls=true
      - traefik.http.routers.sonarr-secure.tls.certresolver=cloudflare
      - traefik.http.routers.sonarr-secure.service=sonarr
      - traefik.http.services.sonarr.loadbalancer.server.port=8989

      # Bazarr
      - traefik.http.routers.bazarr.entrypoints=http
      - traefik.http.routers.bazarr.rule=Host(`bazarr.${DOMAIN}`)
      - traefik.http.routers.bazarr-secure.entrypoints=https
      - traefik.http.routers.bazarr-secure.rule=Host(`bazarr.${DOMAIN}`)
      - traefik.http.routers.bazarr-secure.tls=true
      - traefik.http.routers.bazarr-secure.tls.certresolver=cloudflare
      - traefik.http.routers.bazarr-secure.service=bazarr
      - traefik.http.services.bazarr.loadbalancer.server.port=6767
  