networks:
  proxy:
    external: true

services:
  plex:
    image: linuxserver/plex:1.41.9
    container_name: plex
    environment:
      PGID: "${PGID:-1000}"
      PUID: "${PUID:-1000}"
      VERSION: docker
      LOG_LEVEL: "debug"
      TZ: "Etc/UTC"
    volumes:
      - "${MEDIA_ARRS_FOLDER:-/media}/library/tv:/media/TV"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/movies:/media/movies"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/music:/media/music"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/pictures:/media/pictures"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/books:/media/books"
      - ${WORKDIR}/config:/config
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.plex.entrypoints=http
      - traefik.http.routers.plex.rule=Host(`plex.${DOMAIN}`)
      - traefik.http.routers.plex-secure.entrypoints=https
      - traefik.http.routers.plex-secure.rule=Host(`plex.${DOMAIN}`)
      - traefik.http.routers.plex-secure.tls=true
      - traefik.http.routers.plex-secure.tls.certresolver=cloudflare
      - traefik.http.services.plex.loadbalancer.server.port=32400
    restart: unless-stopped