networks:
  proxy:
    external: true

services:
  # Jellyfin Image - Media Library / Player - Used to play the media content
  jellyfin:
    container_name: jellyfin
    image: linuxserver/jellyfin:10.11.1
    environment:
      PGID: "${PGID}"
      PUID: "${PUID}"
      TZ: "Etc/UTC"
    volumes:
      - "${NAS_STORAGE_LOCATION}/library/tv:/media/TV"
      - "${NAS_STORAGE_LOCATION}/library/movies:/media/movies"
      - "${NAS_STORAGE_LOCATION}/library/music:/media/music"
      - "${NAS_STORAGE_LOCATION}/library/pictures:/media/pictures"
      - "${NAS_STORAGE_LOCATION}/library/books:/media/books"
      - "${WORKDIR}/config:/config"
      # - /dev/shm:/transcode
    ports:
      - 8096:8096
    networks:
      - proxy
    labels:
      # Traefik labels
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.jellyfin.entrypoints=http
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyfin-secure.entrypoints=https
      - traefik.http.routers.jellyfin-secure.rule=Host(`jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyfin-secure.tls=true
      - traefik.http.routers.jellyfin-secure.tls.certresolver=cloudflare
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
      # Watchtower labels
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped