networks:
  proxy:
    external: true

volumes:
  jellyfin:
  jellyseerr-jellyfin:

services:
  # Jellyfin Image - Media Library / Player - Used to play the media content
  jellyfin:
    container_name: jellyfin
    image: jellyfin/jellyfin:latest
    environment:
      PGID: "${PGID:-1000}"
      PUID: "${PUID:-1000}"
      UMASK: "002"
      TZ: "Etc/UTC"
    volumes:
      - "${MEDIA_ARRS_FOLDER:-/media}/library/tv:/media/TV"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/movies:/media/movies"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/music:/media/music"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/pictures:/media/pictures"
      - "${MEDIA_ARRS_FOLDER:-/media}/library/books:/media/books"
      - jellyfin/config:/config
      # - /dev/shm:/transcode
    # ports:
    #   - 8096:8096
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.jellyfin.entrypoints=web
      - traefik.http.routers.jellyfin.rule=Host(`jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyfin-secure.entrypoints=websecure
      - traefik.http.routers.jellyfin-secure.rule=Host(`jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyfin-secure.tls=true
      - traefik.http.routers.jellyfin-secure.tls.certresolver=cloudflare
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096
    restart: unless-stopped

  # Jellyseerr Image - Request management and media discovery tool
  jellyseerr-jellyfin:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr-jellyfin
    environment:
      PGID: "${PGID:-1000}"
      PUID: "${PUID:-1000}"
      UMASK: "002"
      LOG_LEVEL: "debug"
      TZ: "Etc/UTC"
    volumes:
      - jellyseerr-jellyfin/config:/app/config
    # ports:
    #   - 8111:5055
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.docker.network=proxy
      - traefik.http.routers.jellyseerr-jellyfin.entrypoints=web
      - traefik.http.routers.jellyseerr-jellyfin.rule=Host(`jellyseerr-jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyseerr-jellyfin-secure.entrypoints=websecure
      - traefik.http.routers.jellyseerr-jellyfin-secure.rule=Host(`jellyseerr-jellyfin.${DOMAIN}`)
      - traefik.http.routers.jellyseerr-jellyfin-secure.tls=true
      - traefik.http.routers.jellyseerr-jellyfin-secure.tls.certresolver=cloudflare
      - traefik.http.services.jellyseerr-jellyfin.loadbalancer.server.port=5055
    restart: unless-stopped